<app-header>

  <h1>Example Todo App</h1>


  <style type="scss">
    @use 'src/client/sass/vars/colors';

    :host {
      display: block;
      background-color: darken(colors.$background, 25);
      margin: 0;
      padding: 1rem;
    }
    h1 {
      margin: 0;
    }
  </style>

</app-header>
